<div class="flex items-center ">
<span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
  <span
    class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#8a6d1b_0%,#3d0c0c_50%,#8a6d1b_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#c9a84c_0%,#3d0c0c_50%,#c9a84c_100%)]"
  ></span>
  <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-[#3d0c0c] bg-white/90 rounded-full cursor-pointer dark:bg-[#c9a84c]/10 dark:text-[#dfc074] backdrop-blur-3xl whitespace-nowrap">
    <slot />
  </div>
</span>
</div>