<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-[#3d0c0c] transition bg-[#3d0c0c]/5 border border-[#3d0c0c]/15 rounded-full focus-visible:ring-[#8a6d1b]/80 dark:focus-visible:ring-[#c9a84c]/80 text-md hover:bg-[#3d0c0c] hover:text-white hover:border-[#3d0c0c] dark:text-white dark:bg-white/10 dark:border-white/20 dark:hover:bg-white/20 dark:hover:border-white/40 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-[#3d0c0c]/10 dark:active:bg-white/30"
>
  <slot />
</a>
